/* Fonts */
@font-face {
    font-family: fiftiesmovies;
    src: url(assets/fiftiesmovies.ttf);
}

/* Full Page */
body {
    background-color: #fddca9;
    color: #562717;
    margin: 2vw;
    
}

/* Top Nav/Name Bar */

.topbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ce4a1c;
}

nav {
    padding: 0vh 1vw;
    max-width: 100%
}

nav a {
    padding: 1vw 5vh;
    font-family: fiftiesmovies;
    font-size: 1.5rem;
    text-decoration: none;
    color: #4e3b2b;
}

.header {
    color:#562717;
    text-align: center;
    font-size: 2rem;
}

/* Content */

.content {
    /* Used for viewing purposes */
    margin-top: 8vh;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

/* Introduction and Picture */

.description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 20vw;
    justify-content: center;
}

.description .name {
    font-size: 2rem;
}

.description .title {
    font-size: 1.5rem;
    font-style: italic;
}

.description .about {
    width: 35vw;
}

.photo img {
    max-width: 100%;
    height: auto;
    width: 20vw;
    border-radius: 50%;
}

/* Modules (About Me, Projects, and Resume) */

.modules {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.modules img {
    max-height: 100%;
    width: 25vw;
}



/* Dark Mode Styles */
body.dark {
    background-color: #562717;
    color: #fddca9;
}

@media (max-width: 768px) {
    nav {
        display: none;
    }

    .topbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content {
        margin-top: 5vh;
        display: flex;
        flex-direction: column-reverse;
    }

    .description {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-left: 5vw;
    }

    .description .name {
        font-size: 2rem;
    }

    .description .title {
        font-size: 1.5rem;
        font-style: italic;
    }

    .description .about {
        width: 100%;
    }

    .photo {
        padding-left: 5vw;
    }

    .photo img {
        max-width: 100%;
        height: auto;
        width: 50vw;
        border-radius: 50%;
    }

    /* Modules (About Me, Projects, and Resume) */

    .modules {
        margin-top: 3vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .modules img {
        max-height: 100%;
        width: 75vw;
    }

}