body {
    background-color: #ece6c2;
    color: #6f5643;
}

nav {
    background-color: #cc6b49;
    padding: 15px 20px;
    margin-top: ;
    max-width: fit-content;
}

nav a {
    padding: 15px;
}

h1 {
    background: linear-gradient(to right, #6f5643 44.4%, #cc6b49 55.6%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* Dark Mode Styles */
body.dark {
    background-color: #6f5643;
    color: #ece6c2;
}