body {
    background-color: rgb(21, 21, 21);
}



.home-container h1 {
    text-align: left;
    color: rgb(221, 221, 221);
    font-size: xx-large;
    max-width: fit-content;
}

.home-container .image-container {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    position: relative;
    left: 50%;
    top: 100px;
}

.home-container .image-container .mountainimg {
    height: 60%;
    width: 50%;
    border-radius: 50%;
    object-fit: cover;
}

