body {
    background-color: rgb(21, 21, 21);
}


.home-container h1 {
    text-align: left;
    color: rgb(221, 221, 221);
    font-size: xx-large;

}

.home-container .mountainimg {
    height: 20%;
    width: 20%;
}