.navbar {
    align-items: center;
    width: 500px;
    margin-left: 10%;
    background-color: rgb(97, 97, 97);
    font-size: xx-large;
    height: min-content;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.navbar a {
  color: gainsboro;
  text-decoration: none;
}

.navbar a:active, a:hover, a:visited {
  color: rgba(220, 220, 220, 0.715);
  text-decoration: none;
}
