.navbar {
  position: absolute;
  top: 0px;
  width: 50%;
  margin-left: 25%;
  background-color: rgb(97, 97, 97);
  font-size: 200%;
  font-family: 'Courier New', Courier, monospace;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
}

.navbar a {
  color: gainsboro;
  text-decoration: none;
}

.navbar a:active, a:hover, a:visited {
  color: rgba(220, 220, 220, 0.715);
  text-decoration: none;
}
